.terminal {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: #fff;
  min-height: 50vh;
  margin: 30px 10px;
  border-radius: 3px;
  padding: 10px 25px;
  line-height: 1.5em;
  font-family: Inconsolata;
  position:relative;
}

.on-app-name {
  color: #ff00cc;
  font-weight: bold;
}
.on-params {
  color: #ccff00;
  margin-left: 50px;
}

.terminal-block {
  margin: 10px 0;
}
