.login-form {
  margin: 80px;
}
.login__input {
  background-color: #fff;
  border: 1px solid #eee;
  color: #333;
  display: block;
  width: 360px;
  margin: 10px auto;
  font-size: 1.5em;
  letter-spacing: -1px;
  outline: 0;
  text-align: center;
  padding: 10px 10px;
  border-radius: 60px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
